*{
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

p{
  margin: 20px;
  text-align: center;
}

.row {
  padding-top: 6%;
}

.title-image {
  width: 70%;
  height: 70%;
  margin-left: 10%;
  transform: rotate3d(15deg);
  left: 10%;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.big-heading2 {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
  text-align: right;
  font-family: "Times New Roman", Times, serif;
}

.btn2 {
  margin-left: 30%;
  text-align: center ;
}

.navbar-brand {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 20%;
}

.nav-list{
  margin-right: auto;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  
}

.nav-link {
  text-align: center;
}


.navbar-brand{
  font-family: 'Patua One', cursive;
  font-size: 20px;
  text-align: center;
  margin: auto 10% auto 7%;
}

#navbarTogglerDemo02{
  margin-right: 10%;
}


.hr1{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 1px;
  width:50%;
  float: right;
}

.institute-heading-1 {
  margin-top:5%;
  font-family: Times New Roman", Times, serif;
}


.institute-heading-2 {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.institute-img{
  margin-top: 5%;
}


.inst-img {
   height: 350px;
   width: 800px;
  margin-left: 20%; 
 
}

.video-icon{

}







/*section {
  width: 100%;
  position: relative;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 100px;
}

.logo {
  font-size: 1rem;
  letter-spacing: 5px;
  color: #fff;
}

.menu a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
}

.menu a:last-child {
  background-color: #de3031;
  border-radius: 8px;
  letter-spacing: 2px;
  color: #fff;
}*/
